.navigation__button, .features__button, .button--default, .button--active, .button--sign, .button--left, .button--right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-family: inherit;
  border: transparent;
  background-color: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.button--default, .button--active, .button--sign, .button--left, .button--right {
  width: 166px;
  padding: 14px 44px;
  font-weight: bold;
  font-size: toRem(16px);
  line-height: toLineHeight(20, 16);
  border: 2px solid #0f7bff;
  border-radius: 25px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

body.modal-open {
  overflow: hidden;
}

img {
  max-width: 100%;
}

img,
svg {
  display: block;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body__container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header header header' 'main main main ' 'footer footer footer';
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  -ms-grid-rows: minmax(600px, 1042px) 1fr 200px;
      grid-template-rows: minmax(600px, 1042px) 1fr 200px;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .body__container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .body__container {
    -ms-grid-rows: minmax(700px, 1042px) 1fr 100px;
        grid-template-rows: minmax(700px, 1042px) 1fr 100px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .body__container {
    -ms-grid-rows: 1029px 1fr 125px;
        grid-template-rows: 1029px 1fr 125px;
    max-width: 1920px;
  }
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  background-color: coral;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: green;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-image: url(../../img/header/blue-bg.svg);
  background-repeat: no-repeat;
  background-position: 25%;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url(../../img/header/Devices.svg), url(../../img/header/blue-bg.svg);
    background-position: 50% 100%, bottom;
    background-size: 48%, cover;
  }
}

@media screen and (max-width: 1199px) {
  .header {
    padding: 0 15px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .navigation {
    margin-right: 140px;
  }
}

.navigation__list {
  font-weight: 500;
  text-transform: uppercase;
  color: #929292;
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: 42px;
    font-size: 1rem;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1200px) {
  .navigation__list {
    margin-right: 52px;
  }
}

@media screen and (max-width: 767px) {
  .navigation .button--sign {
    width: 72px;
    margin-left: auto;
    padding: 8px 4px;
    margin-right: 24px;
  }
}

.navigation__item:hover, .navigation__item:focus {
  color: #0f7bff;
}

@media screen and (max-width: 767px) {
  .navigation__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 42px;
  }
}

.navigation__button {
  position: relative;
  width: 40px;
  height: 40px;
  fill: #000000;
}

.navigation__button:hover, .navigation__button:focus {
  fill: #0063dd;
}

.navigation__button .icon-cross {
  position: fixed;
}

@media screen and (max-width: 767px) {
  .navigation__button {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media screen and (min-width: 768px) {
  .navigation__button {
    display: none;
  }
}

.section__title {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.25;
}

.section__text {
  line-height: 1.6875;
  color: #929292;
}

.hero {
  margin: 0 auto;
  text-align: center;
  max-width: 655px;
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .hero {
    margin-top: 98px;
  }
}

.hero .section__title {
  margin-bottom: 30px;
}

.hero .section__text {
  margin-bottom: 30px;
}

.hero .button__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .hero .button__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (max-width: 767px) {
  .hero .button--active {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .hero .button--active {
    margin-right: 30px;
  }
}

.features {
  position: relative;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 28px;
  background-color: #f5fcfd;
}

@media screen and (max-width: 767px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .features {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 165px;
    padding-bottom: 130px;
    height: 635px;
  }
}

@media screen and (max-width: 1199px) {
  .features {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.features__button {
  background: transparent;
  display: none;
  width: 114px;
  height: 114px;
  position: absolute;
  right: 50%;
  top: -57px;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  background-image: url(../../img/features/scrol-down.svg);
}

@media screen and (min-width: 1200px) {
  .features__button {
    display: block;
  }
}

.about {
  padding-top: 28px;
  padding-bottom: 28px;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 60px;
    padding-bottom: 74px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-bottom: 116px;
  }
}

@media screen and (max-width: 1199px) {
  .about {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about__list {
    position: relative;
    width: 1162px;
    margin: 84px auto;
  }
}

.about__subtitle {
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .about__subtitle {
    text-align: center;
  }
}

.about__description {
  text-align: justify;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 35px;
}

@media screen and (max-width: 767px) {
  .about__description {
    text-indent: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .about__description {
    text-align: left;
  }
}

.about__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0063dd;
  fill: #0063dd;
}

.about__link:hover, .about__link:focus {
  -webkit-filter: drop-shadow(3px 5px 2px #929292);
          filter: drop-shadow(3px 5px 2px #929292);
}

.about__svg {
  fill: inherit;
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .about__item {
    width: 356px;
  }
}

@media screen and (min-width: 1200px) {
  .about__item {
    width: 476px;
  }
}

.about__item:first-child {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .about__item:first-child {
    margin-left: auto;
    position: relative;
  }
  .about__item:first-child::before {
    display: block;
    content: '';
    height: 265px;
    margin-right: 30px;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../img/about/easy-messaging.jpg);
    position: absolute;
    top: 50%;
    right: 100%;
    left: -100%;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .about__item:first-child::before {
    height: 373px;
    width: 558px;
    margin-right: 128px;
    -webkit-transform: translateX(-38%) translateY(-50%);
            transform: translateX(-38%) translateY(-50%);
  }
}

@media screen and (min-width: 1200px) {
  .about__item:first-child {
    margin-bottom: 386px;
  }
}

@media screen and (min-width: 768px) {
  .about__item:last-child {
    position: relative;
  }
  .about__item:last-child::after {
    display: block;
    content: '';
    height: 265px;
    margin-left: 30px;
    background-size: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../../img/about/keep-in-touch.jpg);
    position: absolute;
    top: 50%;
    right: -100%;
    left: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .about__item:last-child::after {
    z-index: 1;
    height: 408px;
    width: 362px;
    margin-left: 143px;
    -webkit-transform: translateX(-6%) translateY(-50%);
            transform: translateX(-6%) translateY(-50%);
  }
}

@media screen and (min-width: 1200px) {
  .about__list::before {
    display: block;
    content: '';
    height: 483px;
    width: 390px;
    border-radius: 40px;
    background: linear-gradient(147.4deg, #0f7bff 7.27%, #0063dd 93.68%);
    position: absolute;
    -webkit-transform: translateX(2%) translateY(-26%) matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
            transform: translateX(2%) translateY(-26%) matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
  }
}

@media screen and (min-width: 1200px) {
  .about__list::after {
    display: block;
    content: '';
    height: 483px;
    width: 390px;
    border-radius: 40px;
    background: linear-gradient(147.4deg, #0f7bff 7.27%, #0063dd 93.68%);
    position: absolute;
    -webkit-transform: translateX(169%) translateY(-60%) matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
            transform: translateX(169%) translateY(-60%) matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
  }
}

.how-works {
  padding: 70px 15px;
  text-align: center;
  background-color: #f5fcfd;
}

.how-works__title {
  font-weight: normal;
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 25px;
}

.how-works__text {
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 45px;
}

.how-works__subtitle {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.22222;
  margin-bottom: 20px;
}

.how-works__description {
  font-weight: 300;
  line-height: 1.5;
}

.how-works__item:not(:last-child) {
  margin-bottom: 30px;
}

.pricing-plan .button__wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow: hidden;
}

.pricing-plan__buttons input[type='radio'] {
  display: none;
}

.pricing-plan__buttons label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-right: none;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pricing-plan__buttons input[type='radio']:checked + label {
  background: #ffc5c5;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    position: fixed;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50vh;
    padding: 30px;
    z-index: 3;
    font-size: calc(100vw / 14);
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition-property: opacity, visibility, -webkit-transform;
    transition-property: opacity, visibility, -webkit-transform;
    transition-property: opacity, visibility, transform;
    transition-property: opacity, visibility, transform, -webkit-transform;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__list.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.navigation__button .icon-menu {
  display: block;
}

.navigation__button.is-open .icon-menu {
  display: none;
}

.navigation__button .icon-cross {
  display: none;
}

.navigation__button.is-open .icon-cross {
  display: block;
  z-index: 4;
}

.button--default {
  color: #0f7bff;
  background-color: #ffffff;
}

.button--default:hover, .button--default:focus {
  color: #ffffff;
  background-color: #0f7bff;
}

.button--active {
  color: #ffffff;
  background-color: #0f7bff;
}

.button--active:hover, .button--active:focus {
  color: #0f7bff;
  background-color: #ffffff;
}

.button--sign {
  padding: 15px 44px;
  border: transparent;
  color: #ffffff;
  background-color: #0063dd;
}

.button--sign:hover, .button--sign:focus {
  color: #0063dd;
  background-color: #ffffff;
  border: 2px solid #0063dd;
}

.button--left {
  padding: 14px 54px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #ffffff;
  background-color: #0f7bff;
}

.button--left:hover, .button--left:focus {
  color: #0f7bff;
  background-color: #ffffff;
}

.button--right {
  padding: 14px 54px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: #0f7bff;
  background-color: #ffffff;
}

.button--right:hover, .button--right:focus {
  color: #ffffff;
  background-color: #0f7bff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 43px;
  width: 94px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71429;
  color: #ffffff;
  background-color: #0f7bff;
  border-radius: 0px 0px 21.5px 21.5px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-left: 21px;
    width: 120px;
    height: 59px;
    font-size: 18px;
    line-height: 1.44444;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    width: 179px;
    height: 100px;
    margin-left: 121px;
    font-size: 1.5rem;
  }
}

.features__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .features__cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.features__item {
  max-width: 362px;
  height: 290px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
          box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
  border-radius: 5px;
  padding-top: 40px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 47px;
}

@media screen and (max-width: 767px) {
  .features__item:not(:first-child) {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .features__item:not(:first-child) {
    margin-left: 30px;
  }
  .features__item:nth-child(2) {
    margin-top: 50px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.features .card__description {
  font-weight: 300;
  line-height: 1.25;
}

@media screen and (min-width: 768px) {
  .features .card__description {
    font-size: 0.875rem;
  }
}

@media screen and (min-width: 1200px) {
  .features .card__description {
    font-size: 1rem;
  }
}

.features .card__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.22222;
}

.features .card__title::before {
  display: block;
  content: '';
  height: 70px;
  margin-bottom: 25px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.features .card__title.icon-analysis::before {
  background-image: url("../img/features/analysis.svg");
}

.features .card__title.icon-clean-design::before {
  background-image: url("../img/features/clean-design.svg");
}

.features .card__title.icon-messaging::before {
  background-image: url("../img/features/messaging.svg");
}

.how-works__cards {
  position: relative;
}

.how-works__subtitle::before {
  display: block;
  content: '';
  height: 70px;
  margin-bottom: 25px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.how-works__subtitle.icon-create-an-account::before {
  background-image: url("../img/how/create-an-account.svg");
}

.how-works__subtitle.icon-confirm-email::before {
  background-image: url("../img/how/confirm-email.svg");
}

.how-works__subtitle.icon-see-results::before {
  background-image: url("../img/how/see-results.svg");
}

@media screen and (min-width: 768px) {
  .how-works__subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */