* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #000000;
  background-color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

body.modal-open {
  overflow: hidden;
}

img {
  max-width: 100%;
}

img,
svg {
  display: block;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body__container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header header header' 'main main main ' 'footer footer footer';
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  -ms-grid-rows: 100px 1fr 200px;
      grid-template-rows: 100px 1fr 200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .body__container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .body__container {
    -ms-grid-rows: 71px 1fr 100px;
        grid-template-rows: 71px 1fr 100px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1920px) {
  .body__container {
    -ms-grid-rows: 100px 1fr 100px;
        grid-template-rows: 100px 1fr 100px;
    max-width: 1920px;
  }
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  background-color: aqua;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: main;
  background-color: coral;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  background-color: green;
}

.navigation__button {
  position: relative;
}

.navigation__button .icon-cross {
  position: fixed;
}

@media screen and (max-width: 767px) {
  .navigation__list {
    position: fixed;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    padding: 30px;
    z-index: 3;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition-property: opacity, visibility, -webkit-transform;
    transition-property: opacity, visibility, -webkit-transform;
    transition-property: opacity, visibility, transform;
    transition-property: opacity, visibility, transform, -webkit-transform;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__list.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1920px) {
  .navigation__list {
    margin-left: 10px;
  }
}

.navigation__button .icon-menu {
  display: block;
}

.navigation__button.is-open .icon-menu {
  display: none;
}

.navigation__button .icon-cross {
  display: none;
}

.navigation__button.is-open .icon-cross {
  display: block;
  z-index: 4;
}

.card__title::before {
  display: block;
  content: '';
  height: 70px;
  margin-bottom: 25px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.card__title.icon-analysis::before {
  background-image: url("../img/features/analysis.svg");
}

.card__title.icon-clean-design::before {
  background-image: url("../img/features/clean-design.svg");
}

.card__title.icon-messaging::before {
  background-image: url("../img/features/messaging.svg");
}

.how-works__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.how-works__cards::before {
  z-index: -1;
  top: 50px;
  left: 50px;
  position: absolute;
  border: 2px dashed #0f7bff;
  width: 780px;
  display: block;
  content: '';
  height: 2px;
}

.how-works__title::before {
  display: block;
  content: '';
  height: 70px;
  margin-bottom: 25px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.how-works__title.icon-create-an-account::before {
  background-image: url("../img/how/create-an-account.svg");
}

.how-works__title.icon-confirm-email::before {
  background-image: url("../img/how/confirm-email.svg");
}

.how-works__title.icon-see-results::before {
  background-image: url("../img/how/see-results.svg");
}
/*# sourceMappingURL=main.css.map */