.about {
  padding-top: 28px;
  padding-bottom: 28px;

  @include adaptive-size(tablet) {
    padding-top: 60px;
    padding-bottom: 74px;
  }

  @include adaptive-size(desktop) {
    // padding-top: 165px;
    //padding-left: 387px;
    // padding-right: 371px;
    padding-bottom: 116px;
  }

  @include adaptive-size(desktop-break) {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__list {
    @include adaptive-size(desktop) {
      position: relative;
      width: 1162px;
      margin: 84px auto;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: toRem($second-title-size);
    line-height: toLineHeight(40, 32);
    margin-bottom: $set-gap;

    @include adaptive-size(tablet-break) {
      text-align: center;
    }
  }

  &__description {
    text-align: justify;

    font-weight: 300;
    //@extend: 16px;
    line-height: toLineHeight(24, 16);

    margin-bottom: 35px;

    @include adaptive-size(tablet-break) {
      text-indent: 1.5rem;
    }

    @include adaptive-size(desktop) {
      text-align: left;
    }
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $accent-darker-color;
    fill: $accent-darker-color;

    &:hover,
    &:focus {
      //text-shadow: 0px 2px 10px $third-text-color;
      filter: drop-shadow(3px 5px 2px $third-text-color);
    }
  }

  &__svg {
    fill: inherit;
    margin-left: 15px;
  }
}

.about__item {
  @include adaptive-size(tablet) {
    width: 356px;
  }

  @include adaptive-size(desktop) {
    width: 476px;
  }

  &:first-child {
    margin-bottom: 60px;
    @include adaptive-size(tablet) {
      margin-left: auto;
      position: relative;

      &::before {
        display: block;
        content: '';
        height: 265px;

        margin-right: $set-gap;

        border-radius: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../../img/about/easy-messaging.jpg);

        position: absolute;

        right: 100%;
        left: -100%;

        @include adaptive-size(desktop) {
          top: 50%;
          height: 373px;
          width: 558px;
          margin-right: 128px;

          transform: translateX(-38%) translateY(-50%);
        }
      }
    }

    @include adaptive-size(desktop) {
      margin-bottom: 386px;
    }
  }

  &:last-child {
    @include adaptive-size(tablet) {
      position: relative;

      &::after {
        display: block;
        content: '';
        height: 265px;

        margin-left: $set-gap;
        background-size: 100%;
        border-radius: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../../img/about/keep-in-touch.jpg);
        position: absolute;
        top: 50%;
        right: -100%;
        left: 100%;
        transform: translateY(-50%);

        @include adaptive-size(desktop) {
          z-index: 1;
          height: 408px;
          width: 362px;
          margin-left: 143px;

          transform: translateX(-6%) translateY(-50%);
        }
      }
    }

    @include adaptive-size(desktop) {
    }
  }
}

.about__list::before {
  @include adaptive-size(desktop) {
    display: block;
    content: '';
    height: 483px;
    width: 390px;

    border-radius: 40px;
    background: linear-gradient(147.4deg, #0f7bff 7.27%, #0063dd 93.68%);

    position: absolute;

    transform: translateX(2%) translateY(-26%)
      matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
  }
}

.about__list::after {
  @include adaptive-size(desktop) {
    display: block;
    content: '';
    height: 483px;
    width: 390px;

    border-radius: 40px;
    background: linear-gradient(147.4deg, #0f7bff 7.27%, #0063dd 93.68%);

    position: absolute;

    transform: translateX(169%) translateY(-60%)
      matrix(0.77, -0.64, -0.64, -0.77, 0, 0);
  }
}
