.features {
  text-align: center;

  padding-top: 28px;
  padding-bottom: 28px;

  background-color: $bg-color;

  @include adaptive-size(tablet-break) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @include adaptive-size(tablet) {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 500px;
  }

  @include adaptive-size(desktop) {
    padding-top: 165px;
    padding-bottom: 130px;
    height: 635px;
  }

  @include adaptive-size(desktop-break) {
    padding-right: 15px;
    padding-left: 15px;
  }

  &__button {
    @extend %button;
    z-index: 1;
    background: transparent;
    display: none;

    width: 114px;
    height: 114px;
    position: absolute;
    right: 46%;
    top: -57px;
    transform: translateX(-50%);
    background-image: url(../../img/features/scrol-down.svg);

    @include adaptive-size(desktop) {
      display: block;
      transform: rotate(0);
      &.is-open {
        transform: rotate(180deg);
      }
    }
  }
}
