.header {
  grid-area: header;
  background-image: url(../../img/header/blue-bg.svg);
  background-repeat: no-repeat;
  //   background-clip: border-box;
  //   background-origin: border-box;
  background-position: 25%;
  background-size: cover;

  @include adaptive-size(tablet) {
    background-image: url(../../img/header/Devices.svg),
      url(../../img/header/blue-bg.svg);
    background-position: 50% 100%, bottom;
    background-size: 48%, cover;
  }

  @include adaptive-size(desktop-break) {
    padding: 0 15px;
  }
}

.navigation {
  display: flex;
  align-items: center;

  @include adaptive-size(desktop) {
    margin-right: 140px;
  }

  &__list {
    font-weight: 500;
    text-transform: uppercase;

    color: $third-text-color;

    @include adaptive-size(tablet) {
      display: flex;
      margin-left: auto;
      margin-right: 42px;

      font-size: toRem($main-font-size);
      line-height: toLineHeight(20, 16);
    }

    @include adaptive-size(desktop) {
      margin-right: 52px;
    }
  }

  & .button--sign {
    @include adaptive-size(tablet-break) {
      margin-left: auto;
      padding: 8px 24px;
      margin-right: 24px;
    }
  }
}

.navigation__item {
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @include adaptive-size(tablet-break) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @include adaptive-size(tablet) {
    &:not(:last-child) {
      margin-right: 42px;
    }
  }
}

.navigation__button {
  @extend %button;
  position: relative;
  width: 40px;
  height: 40px;
  .icon-cross {
    position: fixed;
  }

  @include adaptive-size(tablet-break) {
    order: 1;
  }

  @include adaptive-size(tablet) {
    display: none;
  }
}
