.button--default {
  @extend %button;
  @extend %button-bordered;

  color: $accent-color;
}

.button--active {
  @extend %button;
  @extend %button-bordered;

  color: $secondary-text-color;
  background-color: $accent-color;
}

.button--sign {
  @extend %button;
  @extend %button-bordered;
  padding: 15px 44px;
  border: transparent;
  color: $secondary-text-color;
  background-color: $accent-darker-color;
}
