.features {
  @include adaptive-size(desktop) {
    display: none;
    transition-property: opacity, visibility, transform, display;
    transform: translateY(100%);
    transition-timing-function: $timing-function;
    transition-duration: 500ms;
    transition-delay: 1000ms;
    opacity: 0;
    visibility: hidden;

    &.is-open {
      display: block;
      display: flex;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    @include adaptive-size(tablet) {
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__item {
    max-width: 362px;
    height: 290px;
    background-color: $white-color;
    box-shadow: 0px 4px 16px rgba(0, 66, 148, 0.08);
    border-radius: 5px;
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 47px;

    @include adaptive-size(tablet-break) {
      &:not(:first-child) {
        margin-top: 40px;
      }
    }

    @include adaptive-size(tablet) {
      &:not(:first-child) {
        margin-left: $set-gap;
      }

      &:nth-child(2) {
        margin-top: 50px;
        align-self: flex-end;
      }
    }
  }

  & .card__description {
    font-weight: 300;

    line-height: toLineHeight(20, 16);

    @include adaptive-size(tablet) {
      font-size: toRem($second-main-font-size);
    }

    @include adaptive-size(desktop) {
      font-size: toRem($main-font-size);
    }
  }
}

.features .card__title {
  margin-bottom: 25px;
  font-weight: 500;
  font-size: toRem($subtitle-font-size);
  line-height: toLineHeight(22, 18);

  &::before {
    display: block;
    content: '';
    height: 70px;
    margin-bottom: 25px;

    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
  }
  @include generate-icons($feature-list-icon);
}
