.how-works__cards {
  position: relative;
  &::before {
    @include adaptive-size(tablet) {
      z-index: 0;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
      position: absolute;

      border: 2px dashed #0f7bff;
      width: 560px;

      display: block;
      content: '';
      height: 2px;
    }

    @include adaptive-size(desktop) {
      width: 780px;
    }
  }

  @include adaptive-size(tablet) {
    display: flex;
    max-width: 1113px;
    margin: 0 auto;
  }
}
.how-works__subtitle {
  &::before {
    z-index: 1;
    position: relative;
    display: block;
    content: '';
    height: 70px;
    margin-bottom: 25px;

    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @include generate-icons($how-list-icon);

  @include adaptive-size(tablet) {
  }
}
