.how-works__cards {
  position: relative;
  // &::before {
  //   z-index: -1;
  //   top: 50px;
  //   left: 50px;
  //   position: absolute;
  //   border: 2px dashed #0f7bff;
  //   width: 780px;
  //   display: block;
  //   content: '';
  //   height: 2px;
  // }
}
.how-works__subtitle {
  &::before {
    display: block;
    content: '';
    height: 70px;
    margin-bottom: 25px;

    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
  }

  @include generate-icons($how-list-icon);

  @include adaptive-size(tablet) {
    display: flex;
  }
}
