* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: $primary-text-color;
  background-color: $white-color;

  font-family: $additional-font;

  font-size: $main-font-size;

  &.modal-open {
    overflow: hidden; //JS
  }
}

img {
  max-width: 100%;
}

img,
svg {
  display: block;
  height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body__container {
  display: grid;
  grid-template-areas:
    'header header header'
    'main main main '
    'footer footer footer';

  grid-template-columns: repeat(3, 1fr);
  height: 100vh;
  grid-template-rows: minmax(600px, 1042px) 1fr 270px;
  max-width: 100%;
  margin: 0 auto;

  @include adaptive-size(mobile) {
    max-width: 480px;
  }
  @include adaptive-size(tablet) {
    grid-template-rows: minmax(700px, 1042px) 1fr 250px;
    max-width: 768px;
  }
  @include adaptive-size(desktop) {
    grid-template-rows: 1029px 1fr minmax(125px, 200px);
    max-width: 1920px;
  }
}

.main {
  grid-area: main;
  position: relative;
}
