@mixin generate-icons($icon-list) {
  @if $icon-list==$feature-list-icon {
    @each $icon-name in $feature-list-icon {
      &.icon-#{$icon-name}::before {
        background-image: url('../img/features/#{$icon-name}.svg');
      }
    }
  }
  @if $icon-list==$how-list-icon {
    @each $icon-name in $how-list-icon {
      &.icon-#{$icon-name}::before {
        background-image: url('../img/how/#{$icon-name}.svg');
      }
    }
  }

  @if $icon-list==$pricing-plan {
    @each $icon-name in $pricing-plan {
      &.icon-#{$icon-name}::before {
        background-image: url('../img/how/#{$icon-name}.svg');
      }
    }
  }
}

@mixin adaptive-size($range) {
  $mobile: 480px;
  $tablet: 768px;
  $desktop: 1200px;

  @if $range == mobile-break {
    @media screen and (max-width: #{$mobile - 1}) {
      @content;
    }
  } @else if $range == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $range == tablet-break {
    @media screen and (max-width: #{$tablet - 1}) {
      @content;
    }
  } @else if $range == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop-break {
    @media screen and (max-width: #{$desktop - 1}) {
      @content;
    }
  } @else if $range == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}
