%section-gap-mobile {
  padding: 0 15px;
}
%button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: inherit;
  border: transparent;
  background-color: inherit;
  box-sizing: border-box;
}
%button-bordered {
  width: 166px;
  padding: 14px 44px;

  font-weight: bold;
  font-size: toRem($main-font-size);
  line-height: toLineHeight(20, 16);

  border: 2px solid $accent-color;
  border-radius: 25px;
}

%section-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: $accent-darker-color;
  fill: $accent-darker-color;

  &:hover,
  &:focus {
    //text-shadow: 0px 2px 10px $third-text-color;
    filter: drop-shadow(3px 5px 2px $third-text-color);
  }
}
