%section-gap-mobile {
  padding: 0 15px;
}
%button {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-family: inherit;
  border: transparent;
  background-color: inherit;
  box-sizing: border-box;
}
